/*
* @Author: zhang
* @Date:   2018-01-06 08:52:45
* @Last Modified by:   zhang
* @Last Modified time: 2018-01-08 13:15:59
*/
@import url('base.css');
header{
	width: 100%;
	height: 107rem;
	background: yellow;
}